<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ROBOFLOW_API_KEY</key>
	<string></string>
	<key>ROBOFLOW_OAUTH_CLIENT_ID</key>
	<string></string>
	<key>ROBOFLOW_WORKSPACE</key>
	<string></string>
	<key>ROBOFLOW_PROJECT</key>
	<string></string>
</dict>
</plist>
